<div class="wrapper">
  <h3 nz-typography>All requests</h3>
  <br>
  <div nz-row class="filter">
    <div nz-col nzSpan="12">
      <div nz-space nzAlign="baseline" nzSize="large">
        <span *nzSpaceItem nz-typography><strong>FILTERS</strong></span>
        <div *nzSpaceItem>
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="searchText" placeholder="Search" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="searchText"
              (click)="searchText = null"
            ></span>
          </ng-template>
        </div>
        <nz-select *nzSpaceItem nzShowSearch nzAllowClear nzPlaceHolder="--Brand--" [(ngModel)]="brandId">
          <nz-option *ngFor="let brand of brands" [nzLabel]="brand.name" [nzValue]="brand.brandId"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSpan="2" nzOffset="10">
      <button nz-button nzType="primary" (click)="filterRequest()">Filter</button>
    </div>
  </div>
  <br>
  <br>
  <div class="list-data">
    <div nz-row class="header-list">
      <span nz-col nzSpan="2" class="text-center"><strong>Status</strong></span>
      <span nz-col nzSpan="10" class="pl-20"><strong>Name</strong></span>
      <span nz-col nzSpan="3" class="pl-20"><strong>Type</strong></span>
      <span nz-col nzSpan="3" class="pl-20"><strong>Brand</strong></span>
      <span nz-col nzSpan="3" class="pl-20"><strong>Submission</strong></span>
      <span nz-col nzSpan="3"></span>
    </div>
    <div nz-row nzAlign="middle" class="item-list" *ngFor="let req of requests | searchByName: searchFilter | filterByBrand: brandFilter">
      <div
        nz-col nzSpan="2"
        class="text-center f-600 text-primary"
        [ngClass]="{
          'text-success': req.requestStatus?.name === 'VALIDATED',
          'text-danger': req.requestStatus?.name === 'REJECTED',
        }"
      >
        <div>
          <span *ngIf="req.requestStatus?.name === 'TO_REVIEW'" nz-icon nzType="file-search" nzTheme="outline"></span>
          <span *ngIf="req.requestStatus?.name === 'DRAFT'" nz-icon nzType="container" nzTheme="outline"></span>
          <span *ngIf="req.requestStatus?.name === 'SUBMITTED'" nz-icon nzType="clock-circle" nzTheme="outline"></span>
          <span *ngIf="req.requestStatus?.name === 'VALIDATED'" nz-icon nzType="check-circle" nzTheme="outline"></span>
          <span *ngIf="req.requestStatus?.name === 'REJECTED'" nz-icon nzType="close-circle" nzTheme="outline"></span>
          <span *ngIf="req.requestStatus?.name === 'TO_MODIFY'" nz-icon nzType="edit" nzTheme="outline"></span>
        </div>
        <span>{{ req.requestStatus?.value }}</span>
      </div>
      <div nz-col class="pl-20 f-600 text-primary name" nzSpan="10">{{ req.campaignName }}</div>
      <div nz-col class="pl-20" nzSpan="3">
        <div class="type-item" [ngClass]="{'type-danger': req.advice}">{{ req.advice ? 'Advice':'Request'}}</div>
      </div>
      <div nz-col class="pl-20 submission f-600" nzSpan="3">{{ req.brand?.name }}</div>
      <div nz-col class="pl-20 text-primary f-600" nzSpan="3">{{ req.submittedDate ? formatDate(req.submittedDate) :  'unknown' }}</div>
      <div nz-col nzSpan="3">
        <span nz-icon nzType="right" class="float-right arrow-item" nzTheme="outline"></span>
      </div>
    </div>
  </div>
</div>
